.list {
    float: left;
    position: fixed;
    background-color: #9A5927;
    width: 100%;
    height: 60px;
    padding-left: 50px;
}

ul li {
    float: left;
    display: block;
    background-color: #9A5927;
    width: 250px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
}

ul li a {
    color: #f9f59a;
    /*沒有底線 ↓*/
    text-decoration: none;
}


/*子選單的設定*/

ul li ul {
    display: none;
}


/*被滑鼠點擊之後的反應*/

ul li:hover ul {
    display: block;
}


/*選單選向被指到時的背景顏色*/

ul li:hover {
    background-color: #ba7947;
}

ul li ul li:hover {
    background-color: #FFCCCC;
}

#bk {
    margin-bottom: 50px;
    font-size: 20px;
    font-family: DFKai-sb;
    line-height: 30px;
    width: 600px;
    margin-left: 300px;
}

h2 {
    font-size: 50px;
    padding-bottom: 20px;
    text-align: center;
    color: #FFA042;
}

h4 {
    font-size: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: #FFA042;
}

p {
    padding-bottom: 20px;
}

#good {
    margin-bottom: 50px;
    font-size: 20px;
    font-family: DFKai-sb;
    line-height: 30px;
    width: 600px;
    margin-left: 300px;
}

#good img {
    margin-left: 250px;
}

#bad {
    margin-bottom: 50px;
    font-size: 20px;
    font-family: DFKai-sb;
    line-height: 30px;
    width: 600px;
    margin-left: 300px;
}

#bad img {
    margin-left: 250px;
}

#feature {
    margin-bottom: 50px;
    font-size: 20px;
    font-family: DFKai-sb;
    line-height: 30px;
    width: 600px;
    margin-left: 300px;
}

#feature img {
    margin-left: 250px;
}
